{% extends 'dorm/index.html' %}
{% load static %}

{% block title %}学生宿舍管理系统-宿舍楼{% endblock %}

{% block css_thispage %}
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block dashboard_url %}{% url 'dormadmin:index' %}{% endblock %}
{% block building_url %}{% url 'dormadmin:building' %}{% endblock %}
{% block student_url %}{% url 'dormadmin:search' %}{% endblock %}
{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">宿舍楼详情</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>楼号</th>
                      <th>性别</th>
                      <th>层数</th>
                      <th>房间数</th>
                      <th>封楼日期</th>
                      <td>编辑</td>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>楼号</th>
                      <th>性别</th>
                      <th>层数</th>
                      <th>房间数</th>
                      <th>封楼日期</th>
                      <td>编辑</td>
                    </tr>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for x in building_list %}
                    <tr>
                            <td><a href="{% url 'dormadmin:room' x.number %}">{{ x.number }}</a></td>
                            <td>{{ x.sex }}</td>
                            <td>{{ x.floor }}</td>
                            <td>{{ x.volume }}</td>
                            <td>{{ x.build_date|date:"Y.m.d" }}</td>
                            <td><a class="btn btn-info btn-circle btn-sm" onclick="Edit({{ forloop.counter0 }})">edit</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}
{% block script_plugins %}
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block script_custom %}
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script>
          function Edit(line_num){
                  var select = "tbody tr:eq("+line_num+")"
                  var tds = $(select).children();
                  var key_list = new Array("sex", "floor", "volume", "build_date")
                  for(var i=1; i<tds.length-1; i++){
                          var value = tds.eq(i).text();
                          tds.eq(i).empty();
                          var str = "<input type='text' name='"+key_list[i]+"' value="+value+" style='width:100%'>";
                          tds.eq(i).append(str);
                  }
                  edit_button = tds.last().children();
                  edit_button.empty();
                  edit_button.append("ok");
                  edit_button.attr("class", "btn btn-success btn-circle btn-sm");
                  var str = "Finish("+line_num+")";
                  edit_button.attr("onclick", str);
                  str = "<a class='btn btn-danger btn-circle btn-sm'>cancel</a>";
                  edit_button.after(str);
          }
            
          function Finish(line_num){
                  var data = {
                          'key': 'chuanshu test!',
                          'csrfmiddlewaretoken': '{{ csrf_token }}'};

                  $.ajax({
                          url: "{% url 'dormadmin:buildinghandle' %}",
                          type: "POST",
                          data: data,
                          success: function(data){
                            console.log(data);
                          }

                  });

                  var select = "tbody tr:eq("+line_num+")";
                  var tds = $(select).children();
                  for(var i=1; i<tds.length-1; i++){
                          var str = tds.eq(i).children().eq(0).val();
                          tds.eq(i).empty();
                          tds.eq(i).append(str);
                  }

                  tds.last().children().last().remove();
                  ok_button = tds.last().children().first();
                  ok_button.empty();
                  ok_button.append("edit");
                  ok_button.attr("class", "btn btn-info btn-circle btn-sm");
                  var str = "Edit("+line_num+")";
                  ok_button.attr("onclick", str);
          }
  </script>
{% endblock %}

